.button {
  background: var(--primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  border: none;
  height: 4.4rem;
  position: relative;
  width: 100%;
  transition: 100ms all ease-in-out;


  & span {
    color: var(--white);
    font-weight: 500;
  }

  &:hover {
    background: var(--primary-dark);
  }
}

.buttonBgNone {
  display: inline-flex;
  text-transform: lowercase;
  height: 4.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: var(--primary);
  background: none;
  border: none;
  font-weight: 500;
}
